<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/css/estilo_consultas.css">
    <title>Agendamento de Consultas</title>
</head>
<body>
    <header>
        <img src = "static/img/logo.png" alt = "Logo da Dog Dodói" />
    </header>

    <div >
        <nav>
            <form action = "/pacientes">
                <button type = "submit">INSERÇÃO DE PACIENTES</button>
            </form>
            <form action = "/agendamento_consultas">
                <button type = "submit">AGENDAMENTO DE CONSULTAS</button>
            </form>
            <form action = "/idade_humana">
                <button type = "submit">CALCULADORA (IDADE HUMANA DO ANIMAL)</button>
            </form>
            <form action = "/medicamento">
                <button type = "submit">CALCULADORA (MILIGRAMAS/PESO CORPORAL DO MEDICAMENTO)</button>
            </form>
            <form action = "/quantidade_mililitros_soro">
                <button type = "submit">CALCULADORA (MILILITROS DE SORO)</button>
            </form>
        </nav>
    </div>

    <h1>AGENDAMENTO DE CONSULTAS</h1>
    <form action="/verificar_agendamento_consultas" method="POST">
        <label for="nome">Nome do animal:</label>
        <input type="text" id="nome" name="nome">
        <label for="nome_tutor">Nome do tutor:</label>
        <input type="text" id="nome_tutor" name="nome_tutor">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">
        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario">
        <label for="sintomas">Sintomas do animal:</label>
        <input type="text" id="sintomas" name="sintomas">
        <button type="submit">PRONTO</button>
    </form>
 </body>
 </html>