<!DOCTYPE html>
<html lang = "pt-br" dir = "ltr">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/css/estilo_index.css">
    <title>Dog Dodói</title>
</head>
<body>
    <header>
        <img src = "static/img/logo.png" alt = "Logo da Dog Dodói" />
    </header>

    <div >
        <nav>
            <form action = "/pacientes">
                <button type = "submit">INSERÇÃO DE PACIENTES</button>
            </form>
            <form action = "/agendamento_consultas">
                <button type = "submit">AGENDAMENTO DE CONSULTAS</button>
            </form>
            <form action = "/idade_humana">
                <button type = "submit">CALCULADORA (IDADE HUMANA DO ANIMAL)</button>
            </form>
            <form action = "/medicamento">
                <button type = "submit">CALCULADORA (MILIGRAMAS/PESO CORPORAL DO MEDICAMENTO)</button>
            </form>
            <form action = "/quantidade_mililitros_soro">
                <button type = "submit">CALCULADORA (MILILITROS DE SORO)</button>
            </form>
        </nav>
    </div>

    <img src = "static/banner.png" alt = "Banner" />

    <div class="linha"></div>
    
    <div class="div-titulo">
        <h1 class="titulos">SOBRE NÓS</h1>
    </div>

    <h2 class = "subtitulos">Clínica Veterinária Dog Dodói</h2>

    <img src = "static/planos.png" alt = "Sobre Nós" />

    <div class="linha"></div>
    <h1 class="titulos">SERVIÇOS OFERECIDOS</h1>
    <h2 class = "subtitulos">Profissionais altamente qualificados</h2>

    <div>
        <img class = "imagens" src = "static/diferencial1.png" alt = "Equipamentos de alto padrão" />
        <img class = "imagens" src = "static/diferencial2.png" alt = "Salas exclusivas de aulas coletivas" />
        <img class = "imagens" src = "static/diferencial3.png" alt = "Profissionais qualificados" />
        <img class = "imagens"  src = "static/diferencial4.png" alt = "Programas de nutrição e saúde" />
    </div>

    <div class="linha"></div>
    <h1 class="titulos">PROFISSIONAIS DISPONÍVEIS</h1>
    <h2 class = "subtitulos">O melhor atendimento e diagnóstico</h2>

    <div>
        <img class = "imagens" src = "static/diferencial1.png" alt = "Equipamentos de alto padrão" />
        <img class = "imagens" src = "static/diferencial2.png" alt = "Salas exclusivas de aulas coletivas" />
        <img class = "imagens" src = "static/diferencial3.png" alt = "Profissionais qualificados" />
        <img class = "imagens"  src = "static/diferencial4.png" alt = "Programas de nutrição e saúde" />
    </div>

    <footer>
        <p>© Clínica Veterinária Dog Dodói - Todos os direitos reservados | Desenvolvido por: Ana Pereira, Gabriela Jesuino, Giovana Pereira, Maria dos Santos</p>
    </footer>
</body>
</html>