<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/css/estilo_lista_pacientes.css">
    <title>Lista de Pacientes</title>
</head>
<body>
    <header>
        <img src = "static/img/logo.png" alt = "Logo da Dog Dodói" />
    </header>

    <div >
        <nav>
            <form action = "/pacientes">
                <button type = "submit">INSERÇÃO DE PACIENTES</button>
            </form>
            <form action = "/agendamento_consultas">
                <button type = "submit">AGENDAMENTO DE CONSULTAS</button>
            </form>
            <form action = "/idade_humana">
                <button type = "submit">CALCULADORA (IDADE HUMANA DO ANIMAL)</button>
            </form>
            <form action = "/medicamento">
                <button type = "submit">CALCULADORA (MILIGRAMAS/PESO CORPORAL DO MEDICAMENTO)</button>
            </form>
            <form action = "/quantidade_mililitros_soro">
                <button type = "submit">CALCULADORA (MILILITROS DE SORO)</button>
            </form>
        </nav>
    </div>
    <h1>LISTA DE PACIENTES</h1>
    <ul>
        {% for paciente in pacientes %}
        <li>{{ paciente[1] }} - {{ paciente[2] }} - {{ paciente[3] }} - {{ paciente[4] }} - {{ paciente[5] }} - {{ paciente[6] }}
            <ul>
                <li><a href="/verificar_edicao_cadastro/{{ loop.index0 }}">EDITAR</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/pacientes">ADICIONAR PACIENTE</a>
</body>
</html>